@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;1,100&family=Poppins:wght@200;400;600&display=swap');
* {
  padding: 0;
  margin: 0;
  font-family: Poppins;
}
picture {
  overflow: hidden;
}
img {
  width: 100%;
}

body {
  background-color: #e5e2da;
}

#inicio {
  min-height: 100vh;
  width: 100%;
  border: solid black 1px;
  overflow: hidden;
}

.titulo {
  font-weight: 600;
  margin-block: 1em;
}

.prod-modal {
  overflow:visible;
}
/* Nav */
#navegador {
  z-index: 1090;
  background-color: #e5e2da
}

nav .logo-nav h1 a {
  background: url(/assets/icon/NEW_SITE_LOGO_BLACK_220x.png) no-repeat center center;
  width:116px ;
  height: 44px;
  display:inline-block;
  text-indent: -99999px;
  overflow:hidden;
  background-size: contain;
  margin-top:0.5em;

}

nav .logo-nav h1{
  margin-bottom: 0;

}

.offcanvas-header h2{
  background: url(/assets/icon/NEW_SITE_LOGO_BLACK_220x.png) no-repeat center center;
  width:116px ;
  height: 44px;
  background-size: contain;
  text-indent: -99999px;
  overflow:hidden;
  margin-left: 4em;
}



/* .navbar-brand::before {
  display: inline-block;
  content: "";
  vertical-align: -.425em;
  background-image: url('/assets/icon/dropdead-logo.svg');
  background-repeat: no-repeat;
  background-size: 2rem 2rem;
  height: 2rem;
  width: 2rem;
} */
.sidebar {
  background-color: #e5e2da;
}
.ico-nav {
  display: none;
}
.carrito::before {
  display: inline-block;
  content: "";
  vertical-align: -.125em;
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-cart2' viewBox='0 0 16 16'><path d='M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5M3.14 5l1.25 5h8.22l1.25-5H3.14zM5 13a1 1 0 1 0 0 2 1 1 0 0 0 0-2m-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0m9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2m-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0'/></svg>");
  background-repeat: no-repeat;
  background-size: 2rem 2rem;
  height: 2rem;
  width: 2rem;
  margin-top:0.5em;
}

/* Home */
.carousel-item {
  height: 100vh;
}
.carousel-item picture img {
  background-size: contain;
}
.carousel-caption {
  padding-bottom: 5rem;
  z-index: 2;
}
.titulo {
  text-align: center;
  font-size: 45px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.carousel-inner::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}


/* Categoria */
#categorias > p {
  width: 80%;
  margin: auto;
}
#categorias .card {
  margin-inline: .5em;
  background-color: black;
  color: white;
}

/* Productos */
#productos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#productos h2 {
  flex-grow: 1;
}
.product {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  width: 95%;
  margin: auto;
}
.product article {
  cursor: pointer;
  background-color: #e5e2da;
  border: none;
}
.product article {
  flex: 1 0 380px;
  max-width: 500px;
}


/* Modal */
.modal {
  margin-block: 3em;
}
.modal-content {
  background-color: #e5e2da !important;
}
.modal-body {
  padding-bottom: 4em;
}

/* Contactos */
.box-area{
  width: 930px;
}
.falso-link {
  color: blue;
  text-decoration: underline;
}

/* Footer */
.bi-facebook::before {
  display: inline-block;
  content: "";
  vertical-align: -.425em;
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-facebook' viewBox='0 0 16 16'><path d='M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951'/></svg>");
  background-repeat: no-repeat;
  background-size: 2rem 2rem;
  height: 2rem;
  width: 2rem;
}
.lista-fotos {
  list-style: none;
}
.fotito {
  max-height: 250px;
  aspect-ratio: 1 / 1;
}
.bi-instagram::before {
  display: inline-block;
  content: "";
  vertical-align: -.425em;
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-instagram' viewBox='0 0 16 16'><path d='M8 0C5.829 0 5.556.01 4.703.048 3.85.088 3.269.222 2.76.42a3.917 3.917 0 0 0-1.417.923A3.927 3.927 0 0 0 .42 2.76C.222 3.268.087 3.85.048 4.7.01 5.555 0 5.827 0 8.001c0 2.172.01 2.444.048 3.297.04.852.174 1.433.372 1.942.205.526.478.972.923 1.417.444.445.89.719 1.416.923.51.198 1.09.333 1.942.372C5.555 15.99 5.827 16 8 16s2.444-.01 3.298-.048c.851-.04 1.434-.174 1.943-.372a3.916 3.916 0 0 0 1.416-.923c.445-.445.718-.891.923-1.417.197-.509.332-1.09.372-1.942C15.99 10.445 16 10.173 16 8s-.01-2.445-.048-3.299c-.04-.851-.175-1.433-.372-1.941a3.926 3.926 0 0 0-.923-1.417A3.911 3.911 0 0 0 13.24.42c-.51-.198-1.092-.333-1.943-.372C10.443.01 10.172 0 7.998 0h.003zm-.717 1.442h.718c2.136 0 2.389.007 3.232.046.78.035 1.204.166 1.486.275.373.145.64.319.92.599.28.28.453.546.598.92.11.281.24.705.275 1.485.039.843.047 1.096.047 3.231s-.008 2.389-.047 3.232c-.035.78-.166 1.203-.275 1.485a2.47 2.47 0 0 1-.599.919c-.28.28-.546.453-.92.598-.28.11-.704.24-1.485.276-.843.038-1.096.047-3.232.047s-2.39-.009-3.233-.047c-.78-.036-1.203-.166-1.485-.276a2.478 2.478 0 0 1-.92-.598 2.48 2.48 0 0 1-.6-.92c-.109-.281-.24-.705-.275-1.485-.038-.843-.046-1.096-.046-3.233 0-2.136.008-2.388.046-3.231.036-.78.166-1.204.276-1.486.145-.373.319-.64.599-.92.28-.28.546-.453.92-.598.282-.11.705-.24 1.485-.276.738-.034 1.024-.044 2.515-.045v.002zm4.988 1.328a.96.96 0 1 0 0 1.92.96.96 0 0 0 0-1.92zm-4.27 1.122a4.109 4.109 0 1 0 0 8.217 4.109 4.109 0 0 0 0-8.217zm0 1.441a2.667 2.667 0 1 1 0 5.334 2.667 2.667 0 0 1 0-5.334'/></svg>");
  background-repeat: no-repeat;
  background-size: 2rem 2rem;
  height: 2rem;
  width: 2rem;
}
.bi-youtube::before {
  display: inline-block;
  content: "";
  vertical-align: -.425em;
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-youtube' viewBox='0 0 16 16'><path d='M8.051 1.999h.089c.822.003 4.987.033 6.11.335a2.01 2.01 0 0 1 1.415 1.42c.101.38.172.883.22 1.402l.01.104.022.26.008.104c.065.914.073 1.77.074 1.957v.075c-.001.194-.01 1.108-.082 2.06l-.008.105-.009.104c-.05.572-.124 1.14-.235 1.558a2.007 2.007 0 0 1-1.415 1.42c-1.16.312-5.569.334-6.18.335h-.142c-.309 0-1.587-.006-2.927-.052l-.17-.006-.087-.004-.171-.007-.171-.007c-1.11-.049-2.167-.128-2.654-.26a2.007 2.007 0 0 1-1.415-1.419c-.111-.417-.185-.986-.235-1.558L.09 9.82l-.008-.104A31.4 31.4 0 0 1 0 7.68v-.123c.002-.215.01-.958.064-1.778l.007-.103.003-.052.008-.104.022-.26.01-.104c.048-.519.119-1.023.22-1.402a2.007 2.007 0 0 1 1.415-1.42c.487-.13 1.544-.21 2.654-.26l.17-.007.172-.006.086-.003.171-.007A99.788 99.788 0 0 1 7.858 2h.193zM6.4 5.209v4.818l4.157-2.408z'/></svg>");
  background-repeat: no-repeat;
  background-size: 2rem 2rem;
  height: 2rem;
  width: 2rem;
}
.bi-instagram span {
  display: none;
}
.bi-facebook span {
  display: none;
}
.bi-youtube span {
  display: none;
}
/* Responsive */
@media (max-width: 576px) {
  .carousel-item picture img {
    height: 100%;
    width:max-content;
  }
  .carousel-caption {
    padding-bottom: 1em;
  }
  .carousel-caption h5 {
    font-size: 2em;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing:normal;
    margin-top: 1.5rem;
  }
  .carousel-caption p {
    font-size: .8em;
    line-height: 1.9;
  }
  .product {
    justify-content: center;
  }

  /* Categorias */
  #categorias .card-title {
    font-size: .7em;
  }
  #categorias .card-body {
    padding: 0;
  }
}

@media (min-width: 577px) and (max-width: 1023px) {
  .product {
    justify-content: center;
  }
  /* Categorias */
  #categorias .card-title {
    font-size: 1em;
  }
  #categorias .card-body {
    padding: 0;
  }
}

@media (min-width: 1024px) {
  .carousel-caption p {
    width: 60%;
    margin: auto;
    font-size: 18px;
    line-height: 1.9;
  }
}
