ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
}

/* Header */
nav {
  display: flex;
  justify-content: center;
}
.nav-list {
  display: flex;
  align-items: center;
  & li {
    padding-inline: 1em;
  }
}
.drop-categorias {
  display: none;
}
.drop-categorias :hover {
  display: block;
}